<h1>Registration is almost complete!</h1>
<p>Please, follow this link to confirm your registration:<br />
    <a href="http://{{ app.request.host }}/activate/{{ username }}/{{ salt }}">http://{{ app.request.host }}/activate/{{ username }}/{{ salt }}</a>
</p>